<!DOCTYPE html>
<html lang="en">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script>
	var app = angular.module('myApp', []);
	app.controller('formCtrl', function($scope) {
		$scope.reset = function(event) {
			event.preventDefault();
			$scope.urlInput = "";
		}
		$scope.submit = function(event) {
			if ($scope.urlInput != null) {
				alert("Submitted: " + $scope.urlInput);
				document.getElementById("form").submit();
				$scope.urlInput = "";
			}
			else {
				event.preventDefault();
				alert("URL field is empty.");
			}
		}
	});
	</script>
</head>

<body>
	<div ng-app="myApp" ng-controller="formCtrl">
		<form name="form" method="post" action="/">
			<center>
				<h1>ImageChecker</h1>
				<h3>Insert a URL to the check queue:</h3>
				<br />
				<input type="text" id="urlInput" name="urlInput" ng-model="urlInput" />
				<br />
				<br />
				<button ng-click="submit($event)">SUBMIT</button>
				&emsp;
				<button ng-click="reset($event)">RESET</button>
			</center>
		</form>
	</div>
</body>

</html>
